<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing mail</title>
</head>
<body>

    <h1>Editing mail</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @mail %> |
    <%= link_to 'Back', mails_path %>

</body>
</html>
